@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.latest{
    margin-left:42.25px;
    margin-top: 110px;
}

.latestHr{
    background: #F08080 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 90px;
    height: 3px;
    margin-left: 0px;
}

.cards{
    display: flex;
    margin-top: 92px;
    
}

.latest>h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 40px;

}

.card>h3{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    width: 363px;
    height: 95px;
    margin-bottom: 0px;
    color: #404040;
}
.card>p{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 23px;
    width: 358px;
    height: 115px;
    margin-top: 0px;
    color: #908D8D;
}
.card>span{
    text-align: left;
    position:absolute;
    left: 2px;
    bottom:33.43px;
}
.Type{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: black;
}
.date{
    letter-spacing: 0.85px;
    color: #404040;
    opacity: 0.24;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 20px;
    margin-left: 62px;
}

.card{
    position: relative;
    width: 380px;
    height: 538px;
    margin-right: 60px;
    box-shadow: 0px 5px 10px #0000000D;
    border-radius: 7px 7px 0px 0px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
img{
    width: 380px;
    height: 229px;
}