.navHead{font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        line-height: 40px;
    }

.navHeads{
    margin-left: 40px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .rightSplit{
        display: none;
    }
    .masterImage{
        display: none;
    }
}